
<div class="wrapper">
	<header class="header">
		<nav class="navbar-inverse">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref = "startScreen">Logo</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav center">
					<li><a ui-sref = "startScreen">Start</a></li>
					<li><a href="#">Applications</a></li>
					<li><a href="#">Trade</a></li>
					<li><a href="#">Service</a></li>
					<li><a href="#">About Us</a></li>
				</ul>
				<div class="clear"></div>
				<ul class="nav navbar-nav profile">
					<li class="active"><a class="" ui-sref = "profile"><span class="glyphicon glyphicon-chevron-left"></span> Back to My Profile</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<form name = "editForm" novalidate>
	<main class="content container">
		<div class="user-info">
			<div class="edit-photo">
				<h4>Profile Photo</h4>
				<div class="user-photo">
					<img src="img/user.png" class="img-responsive" alt="There is no user image">
				</div>
				<div class="choose-photo"><span class="glyphicon glyphicon-picture"></span> Choose Photo</div>
			</div>
			<div class="main-info-edit">
				<h4>Main Information</h4>
				<div class="info-edit">
					<div class="input-group">
						<label for="apperal">Appeal*</label>
						<select id="apperal" ng-model="userData.apperal" required>
							<option>Mr.</option>
							<option>Mrs.</option>
							<option>Miss</option>
							<option>Ms</option>
						</select>
					</div>
					<div><label for="name">Name*</label><input type="text" id="name" ng-model="userData.name" required></div>
					<div><label for="surname">Surname*</label><input type="text" id="surname" ng-model="userData.surname" required></div>
					<div><label for="address">Address*</label><input type="text" id="address" ng-model="userData.address" required></div>
					<div><label for="zip">Zip Code*</label><input type="number" id="zip" ng-model="userData.zip" required></div>
					<div><label for="residence">Residence*</label><input type="text" id="residence" ng-model="userData.residence" required></div>
					<div><label for="phone">Phone</label><input type="tel" id="phone" ng-model="userData.phone"></div>
					<div><label>Email</label><input type="email" ng-model="userData.email"></div>
					<div><label for="fax">Fax</label><input type="tel" id="fax" ng-model="userData.fax"></div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="qual-info">
			<label for="qual">Qualifications</label>
			<div class="add-qual">
				<input type="text" id="qual" placeholder="New Qualification" ng-model = "qualification"  ng-keypress = "addQualification($event)"/>
			</div>
			<div class="qual-queue">
				<div class="qualification" ng-repeat = 'item in userData.qualification track by $index'>{{item.name}}<span class="glyphicon glyphicon-trash" ng-click = "deleteQual($index)"></span></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="user-about-edit">
			<label for="about-me">About Me</label>
			<div class="about-info">
				<textarea id="about-me" ng-model="userData.about"></textarea>
			</div>
		</div>
		<div class="services-info">
			<h4>Services</h4>
			<div class="services-edit">
					<label>Name</label>
					<label>Type</label>
					<label>Description</label>
				<div class = 'addedServices'>
					<div class="row" ng-repeat = 'service in userData.services track by $index'>
						<input type="text" placeholder="Name" ng-model = 'service.name'/>
						<select ng-model = 'service.type'>
							<option ng-repeat="type in Types">{{type}}</option>
						</select>
						<div class="description-delete">
							<input type="text" placeholder="Description" ng-model = 'service.description'/>
							<span class="glyphicon glyphicon-trash" ng-click = deleteService($index)></span>
						</div>
					</div>
				</div>
				<br>
					<div class="service-add" ng-click = "addService()">
						<span class="glyphicon glyphicon-plus">
							</span> add new qualification
					</div>
				</div>
		</div>
		<div class="clearfix"></div>

		<button class="save-btn" ng-class="{ 'save-btn-error' : editForm.$invalid }" data-ng-click="sendUserData()" ng-disabled="editForm.$invalid">Save</button>
		<button class="cancel-btn" ui-sref="profile">Cancel</button>
		<div class="clearfix"></div>
	</main>
	</form>
	<footer class="footer navbar-inverse">
		<div class="container">
			<span>&copy 2016, ACME Ltd.</span>
			<a class="navbar-right" href="">Imprint</a>
		</div>
	</footer>
</div>
